*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  body {
    background-image:url('https://images.unsplash.com/photo-1495904786722-d2b5a19a8535?q=80&w=2934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
 }

 #introduction {
   padding: 250px 500px 50px 250px;
   word-wrap: normal;
 }   

 #bookNow {
    padding: 5px 10px 5px 10px;
    text-align: center;
 }

 #aboutUs {
    padding: 250px 500px 0px 250px;
    word-wrap: normal;
  }   

  #ourTeam {
    display: flex;
    align-items: flex-start;
    padding: 50px 500px 250px 250px;
    word-wrap: normal;
  }   

  #teamMember {
    display: flex;
    padding-left: 100px;
    padding-right: 20px;
  }

  #member {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
  }

  #contactUs {
    padding: 250px 500px 20px 250px;
    word-wrap: normal;
  }

  #contactUsForm {
    display: flex;
    padding: 0px 500px 250px 250px;
    word-wrap: normal;
  }  
  
  #result {
    padding: 0px 500px 250px 250px;
  }
  
  #resultImg {
    width: 100%;
  }    